name: Auto Track Flights

on:
  schedule:
    - cron: '0 */10 * * *'  # toutes les 10 heures
  workflow_dispatch:        # permet lancement manuel

jobs:
  update-flights:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run auto tracking
      run: |
        python auto_track.py
