name: Auto Flight Tracking

on:
  schedule:
    - cron: "0 */10 * * *"
  workflow_dispatch:

jobs:
  run-tracker:
    runs-on: ubuntu-latest

    env:
      SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install requests matplotlib

      - run: python track.py

      - name: Commit changes
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git add data.json || true
          git commit -m "Update tracking" || true
          git push
