name: Auto Flight Tracking

on:
  schedule:
    # Toutes les 10 heures
    - cron: "0 */10 * * *"
  workflow_dispatch:   # Permet de lancer manuellement

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tracker
        run: python track.py

      - name: Commit and push changes
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git add .
          git commit -m "Auto tracking update" || echo "No changes"
          git push
